#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* added background image */
/* source: https://www.wallpaperflare.com/star-wars-star-destroyer-wallpaper-death-star-at-at-space-wallpaper-mxva/download */

body {
  background-image: url("./assets/star-wars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
